html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: K2D, sans-serif;
  font-size: 20px;
  min-width: 400px;
}

a {
  color: #94505D;
}
a:hover, a:focus {
  color: #014133;
}

.introduction {
  padding: 0 20px;
  text-align: justify;
  color: #014133;
  margin-block-end: 0;
  margin-block-start: 0;
}

h2 {
  font: K2D, sans-serif;
  font-size: 36px;
  text-shadow: 1px 1px 2px #BFC0B2;
  margin: 0;
}

.p {
  padding: 20px;
  text-align: justify;
}

form {
  width: 100%;
  max-width: 450px;
}

.form-field {
  margin-bottom: 10px;
}
.form-field label {
  display: block;
  font-size: 14px;
}

.footer {
  display: block;
  padding: 20px;
  background-color: #7C2B32;
  font-family: K2D, sans-serif;
  font-size: 16px;
  color: #BFC0B2;
  text-align: center;
}
.footer__item {
  min-width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  filter: saturate(500%) contrast(900%) brightness(500%) invert(80%) sepia(50%) hue-rotate(120deg);
}
@media only screen and (min-width: 700px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 1;
  }
  .footer__container__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .footer__container__ref {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
@media only screen and (min-width: 900px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 1;
  }
}

.org-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
  row-gap: 20px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  border: 5px solid #7C2B32;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #7C2B32;
  border: 0;
}

.header {
  position: sticky;
  top: 0;
  min-width: 100%;
}
.header__title {
  color: #BFC0B2;
  text-shadow: 1px 1px 2px #014133;
  padding: 20px;
  font-family: K2D;
  align-items: start;
  font-size: 48px;
  display: flex;
}
.header__sign-in {
  align-items: end;
  display: flex;
}
.header__img {
  display: flex;
  align-items: end;
  overflow: unset;
  width: 50px;
  height: 50px;
  color: #BFC0B2;
  filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%) hue-rotate(120deg);
}

.menu {
  padding: 20px;
  background-color: #BFC0B2;
  margin-block-end: 0;
  margin-block-start: 20px;
  padding-inline-start: 20px;
}
.menu__list {
  list-style-type: none;
  padding: 20px;
  align-items: center;
}
.menu__item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #61807A;
  min-width: 350px;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: 20px;
  margin-bottom: 10px;
  font-weight: 900;
  box-shadow: 0px 4px 6px rgba(64, 123, 255, 0.1215686275);
  border-radius: 10px;
  justify-content: center;
}
.menu__link {
  color: #94505D;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px #BFC0B2;
  font-size: 18px;
  margin-top: 10px;
  align-items: center;
  margin: auto;
}
.menu__icon {
  width: 50px;
  height: 50px;
  color: #BFC0B2;
  filter: saturate(500%) contrast(900%) brightness(500%) invert(80%) sepia(50%) hue-rotate(120deg);
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 700px) {
  .menu {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 1 calc((100% - 40px) / 2);
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 900px) {
  .menu {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 1 calc((100% - 80px) / 4);
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.org-cards {
  background-color: #BFC0B2;
  color: white;
  text-align: center;
}

.org-cards .org-card img {
  width: 100%;
  display: block;
}

.org-cards .org-card__content {
  padding: 20px;
}

.org-cards .org-card__content :first-child {
  margin-top: 0;
}

.org-cards .org-card__content :last-child {
  margin-bottom: 0;
}

.org-cards .org-card h2 {
  margin-bottom: 10px;
}

.a {
  color: #94505D;
}
.a:hover, .a:focus {
  color: #014133;
}/*# sourceMappingURL=style.css.map */