@use 'colors';
@use 'main';

//font
$font-base: K2D,sans-serif;
$font-header:K2D;
$font-size-headers:48px;
$font-size-body:24px;

.menu {
    padding:main.$spacer;
    background-color: colors.$grid-background;

    &__list{
        list-style-type: none;
    }
    &__item{
        display: flex;
        flex-direction: column-reverse;
    }
    &__link{
        color:colors.$secondary-color;
        display: inline-block;
        text-decoration: none;
        text-shadow: 1px 1px 2px colors.$card-background;
        font-size: main.$font-size-menu;
    }
    &__icon{
        min-width: 50px;
        min-height: 50px;
        color: colors.$card-background;
        filter: saturate(500%) contrast(900%) brightness(500%) invert(80%) sepia(50%) hue-rotate(120deg);
    }
}
.menu {
    @media only screen and (min-width: 700px){
    display: flex
    }

    @media only screen and (min-width: 900px){
    display: flex
    }
}  