@use 'colors';
@use 'main';

//font
$font-base: K2D,sans-serif;
$font-header:K2D;
$font-size-headers:48px;
$font-size-body:24px;

.menu {
    padding: $spacer;
    background-color: aqua;

    &__list{
        display:flex;
        list-style-type: none;
    
    &__link{
        color:colors.$secondary-color;

    &__icon{
        min-width: 50px;
        min-height: 50px;
        background-color: $card-background;
        color: $card-background;
    }
    }
}
.menu {
    @media only screen and (min-width: 700px){
    display: flex
    }

    @media only screen and (min-width: 900px){
    display: flex
    }
}  