---
layout: main.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<div class="introduction">

	<main class="about">

		Extracurricular activities play a crucial role in a child's development, offering opportunities for learning, socialization, and skill-building. The choice of activities depends on the child's interests, age, and available resources. Via the menu below you can access to some of available activities in your neigbourhood like sports or martial arts, arts and crafts, dance, theatre and music, outdoor adventures, clubs for young geeks or small book lovers.

        Encouraging children to explore a variety of activities helps them discover their interests and passions. It's important to strike a balance and ensure that the activities are age-appropriate and aligned with the child's abilities and preferences. Additionally, involving children in the decision-making process can make extracurricular activities more enjoyable and rewarding for them.

        We hope that our web page will help you to find the best for your kid with regard to his/her interests, distance from your home as well as your budget. 
        
        Please let us know if you would have any idea on further improvement of our page, any idea or question will be welcomed! 
	</main>

</div>

<!-- přidáme menu -->
{% include 'partials/menu.njk' %}

<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}

