<form method="get" action="post">
    <label for="Mr/Mme">Please select Mr or Mme</label>
    <input type ="radio" name="Mr/Mme" id="Mr" value="Mr" required>
    <input type ="radio" name="Mr/Mme" id="Mme" valu="Mme" required>
 
    <label for="Last Name">Last Name</label>
    <input type ="text" name="Last Name" id="Last Name" placeholder="Last Name" autofocus required>

    <label for="First Name">First Name</label>
    <input type ="text" name="First Name" id="First Name" placeholder="First Name" autofocus required>

    <label for="Address">Address</label>
    <textarea name="Address" id="Address" rows="6" cols="20" maxlenght="400" placeholder="Address" autofocus required>
    </textarea>

    <label for="Email">Email</label>
    <input type ="email" name="Email" id="Email" placeholder="Email" autofocus required>

    <label for="Phone Number">Phone Number</label>
    <input type ="tel" name="Phone Number" id="Phone Number" placeholder="Phone Number in format +33(0)" autofocus required>

    <label for="Activity">Activity</label>
    <select> <option> </select>


    <input type ="text" name="Last Name" id="Last Name" placeholder="Last Name" autofocus required>

    <label for="Start Date">Start Date</label>
    <input type ="date" name="Start Date" id="Start Date" placeholder="Start Date" autofocus required>

    <label for="End Date">End Date</label>
    <input type ="date" name="End Date" id="End Date" placeholder="End Date" autofocus required>

    <label for="Child Last Name">Child Last Name</label>
    <input type ="text" name="Child Last Name" id="Child Last Name" placeholder="Child Last Name" autofocus required>

    <label for="Child First Name">Child First Name</label>
    <input type ="text" name="Child First Name" id="Child First Name" placeholder="Child First Name" autofocus required>

    <label for="Last Name">Last Name</label>
    <input type ="text" name="Last Name" id="Last Name" placeholder="Last Name" autofocus required>

    <label for="Validate">Validate</label>
    <input type ="submit" value="Validate">

</form>

