---
layout: layouts/subsite.njk
title: Grid
---

<h1>Events</h1>

<p>You can choose from multiple events in your neigbourhood to entertain your kids in upcoming weeks.</p>


<div class="Grid">


	<div class="org-card">
		<img class="org-card__foto" src="/images/ara.jpg" alt="">
		<div class="org-card__content">
			<h2>Activity</h2>
			<p><a href="#">Podrobný popis</a></p>
            
		</div>
	</div>


</div>