<header class="header">
        <div class="header__title">"Free Time Activities For Kids"</div>
        <a href="header__sign-in">
            <img class="header__img" src="/images/icons8-sign-in.png" alt="sign-in">
        </a>

</header>