<menu class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a href="/wednesday/" class="menu__link" alt="WEDNESDAY">WEDNESDAY</a>
            <img class="menu__icon" src="/images/icons8-wednesday.png" alt="wednesday">
        </li>
        <li class="menu__item">
            <a href="/year-vacations/" class="menu__link" alt="YEAR-VACATIONS">YEAR-VACATIONS</a>
            <img class="menu__icon" src="/images/icons8-year-vacs.png" alt="year-vacations">
        </li>
        <li class="menu__item">
            <a href="/summer/" class="menu__link" alt="SUMMER">SUMMER</a>  
            <img class="menu__icon" src="/images/icons8-palm.png" alt="palm">
        </li>
        <li class="menu__item">
            <a href="/events.html" class="menu__link">EVENTS</a>
            <img class="menu__icon" src="/images/icons8-event.png" alt="events">  
        </li>
    </ul>   
</menu>