<div class="org-cards">

    {% for org-card in events %}

    <div class="org-card">

        <div class="org-card__header">
            <img class="org-card__image" src="/images/ginger-bread.png" alt="">
            <h2 class="org-card__title">activity</h2>   
        </div>

        <div class="org-card__content">
            <div class="org-card__activity-description">
                <p>description</p>

                <table class="org-card__details">
                    <tr>
                        <th>Organisation</th>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <th>Age Group</th>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <th>Price in EUR</th>
                        <td>xxx</td>   
                    </tr>
                    <tr>
                        <th>Vacancies</th>
                        <td>xxx</td> 
                </table>
                
            </div>
        </div>
        <div class="org-card__footer">
            <a href="">sign in formular</a>
        </div>
     </div>
</div>

{% endfor %}