---
layout: layouts/main.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- přidáme menu -->
{% include 'partials/menu.njk' %}

<!-- přidáme grid -->
{% include 'partials/grid.njk' %}


<main class="main">

	{{ content | safe }}

</main>


<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}